/** @format */

@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,500;1,700&display=swap");

// Set your brand colors
$primry: #43b163;
$primry-lightshade: #40a549;
$primry-darkshade: #34893c;
$primry-smooth: #5dba85;
$primry-overlap: #266c3a;
$gray-shade: #a3c0ae;
$green-light: #80e034;
$light-bg: #d6eac5;
$soft-green: #a9e874;
$ligher: #61d10b;
$blue: #377a97;
$light-gray: #92a3aa;
$light-grayblue: #5a8da0;

$sky: #22698d;
$skydark: #1b5674;

$purple: #8a4d76;
$pink: #fa7c91;
$brown: black;
$beige-light: #d0d1cd;
$beige-lighter: white;

// Update Bulma's global variables
$family-sans-serif: "Ubuntu", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";
.App {
  height: auto;
  background-image: linear-gradient(
    45deg,
    #266c3a 0,
    #3c9526 50%,
    #5ac80d 110%
  );
  overflow: hidden;
  position: relative;
}
.has-bg-img {
   background: url('../assets/animation.png')center center;
    background-size:cover;
   }

.section-devider {
  width: 0;
  height: 0%;
  position: absolute;
  bottom: 0px;
  border-bottom: 150px solid white;
  border-left: 180vw solid transparent;
  overflow-x: hidden;
}
.section-2 {
  height: 1000px;
  overflow: hidden;
  position: relative;
  overflow-x: hidden;
}

.section-3 {
  height: 500px;
  overflow: hidden;
  position: relative;
  overflow-x: hidden;
}

.footer {
  height: auto;
  background-image: linear-gradient(
    45deg,
    #266c3a 0,
    #3c9526 50%,
    #5ac80d 110%
  );
  overflow: hidden;
  position: relative;
  overflow-x: hidden;
}

.footer-devider {
  width: 0;
  height: 100%;
  position: absolute;
  bottom: 0%;
  border-top: 150px solid white;
  border-left: 250vw solid transparent;
  overflow-x: hidden;
}

.flot{
  float: right;
}

